// Variables
@import "variables";

// Bootstrap
@import "node_modules/booo/booo";

@include reset;
@include box-sizing-reset;

body {
	font-family: $primary_font;
}

a {
	color: inherit;
	text-decoration: none;
}

li {
	list-style: none;
}

svg#svg {
	display: none;
}

.st0{fill:#8BC81F;}
.st1{opacity:0.2;}
.st2{fill:#FFFFFF;}
.st3{fill:none;}
.st4{fill:#82B32A;}
.st5{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;}
.st6{fill:#7D8080;}
.st7{fill:#0059A2;}

.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	padding: 1em;
	z-index: 500;
	.container {
		max-width: 1080px;
		height: 100%;
		margin: auto;
		display: flex;
		align-items: center;
		flex-direction: column;
		align-items: center;
		@media (min-width: 768px) {
			flex-direction: row;
			justify-content: space-between;
		}
	}
	figure {
		width: 50%;
		&:last-child {
			margin-top: 12px;
		}
		@media (min-width: 768px) {
			width: 190px;
		}
		@media (min-width: 1080px) {
			width: 250px;
		}
		img {
			width: 100%;
		}
	}
	nav {
		margin-top: 1.5em;
		font-weight: 300;
		color: white;
		font-size: 14px;
		display: none;
		li {
			&:after {
				content: '';
				display: block;
				width: 50px;
				height: 1px;
				margin-top: 1em;
				background-color: white;
			}
		}
	}
}

.header-fixed {
	position: fixed;
	background-color: $blue;
	z-index: 9999;
	height: 68px;
	@media (min-width: 768px) {
		height: 100px;
	}
	.container {
		flex-direction: row;
		justify-content: space-between;
	}
	figure {
		width: 45%;
		height: auto;
		&:last-child {
			margin-top: 0;
		}
		@media (min-width: 768px) {
			height: 100%;
			width: auto;
			&:first-child {
				height: 85%;
			}
		}
		img {
			height: 100%;
			object-fit: contain;
			font-family: 'object-fit: contain;';
		}
	}
}

.hero_container {
	//height: 550px;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	@media (min-width: 860px) {
		height: 475px;
	}
	@media (min-width: 1040px) {
		height: 550px;
	}
	@media (min-width: 1200px) {
		height: 600px;
	}
	@media (min-width: 1400px) {
		height: 650px;
	}
	@media (min-width: 1600px) {
		height: 750px;
	}
	@media (min-width: 1700px) {
		height: 800px;
	}
	@media (min-width: 1920px) {
		height: 900px;
	}
	&:after {
		content: '';
		background-color: $green;
		display: block;
		position: absolute;
		z-index: -1;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 50%;
		@media (min-width: 768px) {
			width: calc(100% - 50px);
			margin: 0 25px;
		}
		@media (min-width: 1280px) {
			margin: 0 50px;
			width: calc(100% - 100px);
		}
	}
	.hero {
		height: 100%;
		.cycle-pager {
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 37px;
			padding: 0 2em;
			display: flex;
			align-items: center;
			z-index: 999;
			@media (min-width: 768px) {
				margin-left: 25px;
			}
			@media (min-width: 1280px) {
				margin-left: 50px;
				width: 50%;
				justify-content: center;
				bottom: 5%;
			}
			span {
				font-size: 0;
				margin-right: 12px;
				cursor: pointer;
				@media (min-width: 1280px) {
					margin-right: 24px;
				}
				&:before {
					content: '';
					width: 14px;
					height: 14px;
					border-radius: 100%;
					background: none;
					border: 1px solid white;
					display: block;
				}
			}
		}
		.cycle-pager-active {
			&:before {
				background-color: white !important;
			}
		}
		.hero_item {
			width: 100%;
			height: 100%;
			.hero_content {
				padding: 100px 3em 2em;
				position: relative;
				max-width: 1080px;
				margin: auto;
				.item {
					&:nth-child(2) {
						img {
							width: 80%;
							height: 50px !important;
							margin: auto;
							object-fit: contain;
							font-family: 'object-fit: contain;';
							@media (min-width: 768px) {
								margin-left: auto;
								width: 54%;
								margin-right: 0;
							}
						}
						p {
							margin-top: 1em;
						}
					}
				}
				@media (min-width: 768px) {
					display: flex;
					align-items: center;
					.item {
						width: 50%;
					}
				}
				@media (min-width: 1080px) {
					padding: 4em;
					height: 100%;
				}
				img {
					width: 100%;
					height: 263px;
					display: block;
					object-fit: contain;
					font-family: 'object-fit: contain;';
					@media (min-width: 1080px) {
						height: 400px;
					}
				}
				p {
					font-weight: 400;
					color: white;
					line-height: 1.5;
					text-align: center;
					padding-bottom: 56px;
					margin-top: 2em;
					@media (min-width: 768px) {
						font-size: 20px;
						text-align: right;
					}
					@media (min-width: 1080px) {
						font-size: 1.8em;
					}
					i {
						font-weight: bold;
						font-style: italic;
					}
				}
				.circle {
					width: 75px;
					height: 75px;
					border-radius: 100%;
					background-color: white;
					@include flex-center;
					position: relative;
					left: 74%;
					display: none;
					svg {
						width: 40px;
						height: 40px;
					}
				}
			}
		}
	}
	.arrow_wrapper {
		max-width: 1100px;
		position: absolute;
		top: 50%;
		width: 100%;
		left: 50%;
		margin-left: -550px;
		height: 44px;
		margin-top: -22px;
		display: flex;
		justify-content: space-between;
		display: none;
		z-index: 999;
		@media (min-width: 1080px) {
			display: flex;
		}
		.cycle-prev, .cycle-next {
			@include flex-center;
			width: 44px;
			height: 100%;
			cursor: pointer;
			svg {
				width: 30px;
				height: 30px;
				fill: white;
			}
		}
	}
}

.contact {
	width: 100%;
	overflow: hidden;
	background-color: $green;
	padding: 2em 2em 0 2em;
	@media (min-width: 768px) {
		padding: 4em 0 0 0;
		margin: 0 25px;
		width: calc(100% - 50px);
	}
	@media (min-width: 1280px) {
		margin: 0 50px;
		width: calc(100% - 100px);
	}
	h1 {
		color: $blue;
		font-size: 1.4em;
		font-weight: bold;
		line-height: 1.3;
		text-align: center;
		max-width: 600px;
		margin: auto;
		@media (min-width: 768px) {
			font-size: 1.8em;
		}
	}
	hr {
		width: 100px;
		height: 2px;
		background-color: $blue;
		border: 0;
		margin: 1.5em auto;
	}
	.tab_links {
		color: white;
		font-weight: 300;
		max-width: 1080px;
		margin: auto;
		@media (min-width: 768px) {
			padding: 0 2em;
		}
		span {
			line-height: 1.3;
			@media (min-width: 768px) {
				display: block;
				text-align: center;
			}
		}
		nav {
			display: flex;
			flex-direction: column;
			padding: 1em 0 1.5em;
			@media (min-width: 768px) {
				flex-direction: row;
			}
			li {
				width: 100%;
				padding: 1em;
				height: auto;
				border: 1px solid white;
				@include flex-center;
				cursor: pointer;
				border-bottom: 0;
				&:hover {
					background: #80a804;
				}
				@media (min-width: 768px) {
					border-bottom: 1px solid white;
					border-right: 0;
					&:last-child {
						border-right: 1px solid white;
					}
				}
				&:last-child {
					border-bottom: 1px solid white;
				}
				img {
					width: 75%;
					height: auto;
				}
			}
		}
	}
	.tab_link-active {
		background: $blue;
		&:hover {
			background: $blue !important;
		}
	}
}

.succes_message {
	width: 100%;
	max-width: 1024px;
	margin: auto;
	text-align: center;
	padding: 1em 0 2em;
	h2 {
		font-size: 1.5em;
		color: $blue;
		font-weight: bold;
		margin-bottom: 1em;
		margin-top: 1em;
		@media (min-width: 1024px) {
			font-size: 2em;
		}
	}
	p {
		color: white;
		font-weight: 400;
		font-size: 1.1em;
		line-height: 1.5;
		margin-bottom: 1em;
		@media (min-width: 1024px) {
			font-size: 1.6em;
		}
	}
}

.errors {
	padding-bottom: 1em;
	color: #e74c3c;
	font-weight: 600;
	font-size: 14px;
	span {
		display: block;
		line-height: 1.5;
	}
}

.form {
	display: flex;
	flex-direction: column;
	max-width: 700px;
	margin: auto;
	textarea, input {
		font-weight: 300;
		height: 44px;
		font-size: 1em;
		font-family: $primary_font;
		padding: 12px;
		margin-bottom: 1em;
		outline: 0;
		resize: none;
		border: 0;
	}
}
.submit {
	padding: 2em 0;
	position: relative;
	@media (min-width: 768px) {
		overflow: hidden;
		width: 100%;
		&:after {
			content: '';
			display: block;
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 50%;
			background: $blue;
			z-index: 1;
			clip-path: polygon(0 0, 100% 76%, 100% 100%, 0% 100%);
		}
	}
	.submit_wrapper {
		max-width: 1080px;
		margin: auto;
		display: flex;
		justify-content: center;
		div {
			width: calc(50% - 100px);
			z-index: 2;
			img {
				width: 100%;
				object-fit: contain;
				font-family: 'object-fit: contain;';
			}
			&:first-child {
				display: none;
				@media (min-width: 768px) {
					display: block;
				}
			}
			&:nth-child(2) {
				width: 200px;
			}
			&:last-child {
				display: none;
				@media (min-width: 768px) {
					display: block;
				}
			}
		}
	}
	
	a {
		background-color: $blue;
		width: 100%;
		height: 44px;
		border-radius: 25px;
		font-size: .9em;
		margin: auto;
		position: relative;
		@include flex-center;
		color: white;
		z-index: 2;
		@media (min-width: 768px) {
			width: 180px;
		}
	}
	.line {
		position: absolute;
		width: 1px;
		height: 100%;
		border-left: 2px dashed $blue;
		top: 0;
		left: 50%;
		margin-left: -1px;
		z-index: 1;
	}
}

.help {
	background-color: $blue;
	//overflow-y: hidden;
	padding: 2em;
	position: relative;
	.help-logo {
		width: 200px;
		height: auto;
		display: block;
		margin: auto;
		margin-top: 1em;
	}
	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -1px;
		width: 1px;
		z-index: 1;
		height: 1em;
		border-right: 2px dashed white;
		@media (min-width: 768px) {
			top: -17%;
			height: 10%;
		}
	}
	@media (min-width: 768px) {
		&:before {
			content: '';
			position: absolute;
			width: 100%;
			height: 200px;
			top: -199px;
			left: 0;
			background-color: $blue;
			z-index: -1;
		}
	}
	h1 {
		font-size: 1.5em;
		color: white;
		font-weight: bold;
		text-align: center;
		@media (min-width: 1200px) {
			font-size: 2em;
		}
	}
	hr {
		width: 100px;
		height: 2px;
		background-color: white;
		border: 0;
		margin: 1.5em auto;
	}
	.help_grid {
		display: flex;
		flex-direction: column;
		overflow: hidden;
		@media (min-width: 1024px) {
			flex-direction: row;
			max-width: 1080px;
			margin: auto;
			padding: 2em 0;
		}
		.col {
			width: 100%;
			&:first-child {
				order: 2;
				@media (min-width: 1024px) {
					order: 1;
					width: 300px;
					.step {
						text-align: right;
						&:first-child {
							margin-bottom: 100px;
							span {
								margin-right: -14px;
							}
							h2 {
								margin-right: -7px;
							}
						}
					}
				}
			}
			&:nth-child(2) {
				@media (min-width: 1024px) {
					order: 2;
					@media (min-width: 1024px) {
						flex: 1;
					}
				}
			}
			&:last-child {
				order: 3;
				@media (min-width: 1024px) {
					width: 300px;
					.step {
						&:first-child {
							margin-bottom: 100px;
							span {
								margin-left: -14px;
							}
							h2 {
								margin-left: -7px;
							}
						}
						&:last-child {
							h2 {
								margin-left: -14px;
							}
							p {
								margin-left: -28px;
							}
						}
					}
				}
			}
			.vector {
				width: 100%;
				height: 300px;
				@media (min-width: 1024px) {
					height: 400px;
				}
				svg {
					width: 100%;
					height: 100%;
					.rotate {
						animation: rotateCircle 20s infinite linear;
						transform-origin: 50% 50%;
					}
					@keyframes rotateCircle {
						0% {
							transform: rotate(0);
						}
						100% {
							transform: rotate(360deg);
						}
					}
				}
			}
			.step {
				color: white;
				@media (min-width: 1024px) {
					display: block;
				}
				span {
					font-weight: bold;
					color: rgba(white, .5);
					font-size: 2em;
					display: block;
					margin-right: 14px;
					@media (min-width: 1024px) {
						font-size: 2.5em;
						margin: 0;
					}
				}
				h2 {
					font-weight: 600;
					font-size: 1.2em;
					margin: 1em 0 18px;
					width: 100%;
					padding-right: 30px;
					position: relative;
					line-height: 1.2;
					user-select: none;
					@media (min-width: 1024px) {
						margin: 1em 0;
						padding-right: 0;
						font-style: italic;
					}
					svg {
						width: 20px;
						height: 20px;
						position: absolute;
						right: 0;
						bottom: 0;
						fill: white;
						@media (min-width: 1024px) {
							display: none;
						}
					}
				}
				p {
					font-weight: 300;
					line-height: 1.2;
					font-size: .9em;
					display: none;
					margin-bottom: 2em;
					@media (min-width: 1024px) {
						display: block;
						margin-bottom: 0;
					}
				}
			}
			&:first-child {
				.step {
					&:last-child {
						display: none;
						@media (min-width: 1024px) {
							display: block;
							padding-right: 1em;
							border-right: 2px solid white;
							h2 {
								margin-top: 0;
							}
						}
					}
				}
			}
		}
	}
}

.help-disabled {
	&:after {
		display: none !important;
	}
}

.warranty {
	padding: 1em;
	overflow: hidden;
	background-color: $green;
	background-repeat: repeat;
	@media (min-width: 768px) {
		height: 350px;
	}
	.container {
		@media (min-width: 768px) {
			display: flex;
			height: 100%;
			max-width: 1080px;
			margin: auto;
		}	
	}
	.item {
		background-color: white;
		padding: 2em;
		h1 {
			color: $blue;
			font-weight: 600;
			font-size: 1.1em;
			line-height: 1.3;
		}
		hr {
			width: 30%;
			margin: 1em 0;
			height: 2px;
			background-color: $blue;
			border: 0;
			display: block;
		}
		address, p {
			line-height: 1.3;
			font-weight: 300;
			color: #606060;
			b {
				font-weight: 600;
				font-style: italic;
			}
		}
		address {
			margin-top: 2em;
			span {
				color: $blue;
				display: block;
				margin-top: 1em;
				font-style: italic;
				b {
					font-weight: 600;
				}
			}
		}
		&:first-child {
			display: none;
			@media (min-width: 768px) {
				display: block;
				background: none;
				width: 45%;
				img {
					width: 70%;
					height: 100%;
					object-fit: contain;
					font-family: 'object-fit: contain;';
				}
			}
		}
		&:last-child {
			@media (min-width: 768px) {
				width: 55%;
				background-image: url('/images/back-phone.svg');
				background-size: auto 90%;
				background-position: 90% center;
				background-repeat: no-repeat;
				
				//display: flex;
				flex-direction: column;
				justify-content: space-around;
				position: relative;
				@media (min-width: 1024px) {
					padding-right: 20%;
				}
				&:after {
					content: '';
					display: block;
					width: 200px;
					height: 100%;
					position: absolute;
					left: -200px;
					top: 0;
					background: white;
					clip-path: polygon(100% 0, 30% 100%, 100% 100%);
				}
			}
		}
	}
}

@-moz-document url-prefix() {
    .warranty {
      	.item {
      		&:last-child {
      			&:after {
      				display: none;
      			}
      		}
      	}
    }
}

.show-text {
	display: block !important;
}

.brands {
	padding: 1em;
	max-width: 1024px;
	margin: auto;
	.brands_carrousel {
		display: flex;
		align-items: center;
		height: 100px;
		.slick-slide {
			outline: none !important;
		}
		.slick-list {
			width: 100%;
		}
		button {
			width: 37px;
			height: 37px;
			@include flex-center;
			appearance: none;
			border: 0;
			background: none;
			outline: 0;
			svg {
				width: 20px;
				height: 20px;
				fill: rgba(#333, .5);
			}
		}
		.item {
			padding: 1em;
			height: 100px;
			width: 100%;
			text-align: center;
			@include flex-center;
			img {
				width: 70%;
				height: 100%;
				object-fit: contain;
				font-family: 'object-fit: contain;';
				filter: grayscale(100%);
				opacity: .75;
			}
		}
	}
}

.copyright {
	background-color: #e6e6e6;
	color: #515151;
	padding: 1em;
	text-align: center;
	line-height: 1.3;
	font-weight: 300;
}